
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>



<body class="bg-light container-fluid">
    <div class="d-flex flex-wrap section navbar navbar-expand-md navbar-light bg-white shadow rounded mt-2">

        <partial name="_NavMenu" />
        <script src="~/static/js/nav.js"></script>
    </div>

    <main class="section-main bg-light pt-4 rounded">

        @RenderBody()
    </main>

    <footer class="bg-white shadow rounded m-3 p-3">
        <partial name="_Footer" />
    </footer>
</body>



</html>